%h3 About Modern Beauty
%p Modern Beauty provides services to customers based on their daily beauty needs.

%h3 The Team Behind Modern Beauty:
%p Selin Eylül Bilen, Nazlı Güler, Tomer Alon

%br
  = link_to "Back", home_path, {class: "btn btn-secondary"}