%h2 For Your Daily Beauty Needs
%div
= image_tag "logo.png", :id=> "logo" '/'

%div
%br
  = link_to "Services", services_path, {class: "btn btn-primary"}
  = link_to "Reservations", reservations_path, {class: "btn btn-primary"}