%h2 Modern Beauty
%h3 For your daily beauty needs

= button_to "Register or Login with GitHub", '/auth/github', {class: "btn btn-primary"}

//=link_to "Register or Login with GitHub", class: "btn btn-primary", '/auth/github'