%h1 Modern Beauty
%div
Modern Beauty provides services to customers based on their daily beauty needs.
%div

=link_to "Login", root_path, class: "btn btn-primary"
=link_to "Create Account", root_path, class: "btn btn-primary"
