.div
%img.logo{:src => "https://lh3.googleusercontent.com/wSpltvjXa77M5T_E8SPCdv08pkwQdSPj6bLizvU58qDYeRgSx5rU6zA3Fx8lJ_Ne4L1k5mimGJ663-i4dgABwna73zM68nGDUUU11GozNfiV7del-2iSKCHc9ZKS5GQ0W5J-1m9frG4s3AjkXKG-n7HIbtbTBtvGbGi1no_fFZjCKXzTGfw-BkOLrHrsBDJkMjW_YkHyQ3nrS6M6q6SOyhS12tew72yZilwIJ6jQtBi7-9siZW9fT9A6fCyEK6BiKsmrJu5xD3gP8MPGMUwYSYhRB_Cga_rda_nURaCBNSgzExEA9bwIxOvqyN1B6MDjSu6LD9PnhMEsxUNCbCA7uriUAGtNVkqLOmtA_J5VfbJFENU0LMMqvpFGaWCvj_80i9F4v2zfEehUi9HgA0lSp0eLLXkPh6sOSADAMoPlTOUHBBMJkF5wSNoAW0Eyv0tfVbeaUMQ33JAuYNhPbCvmGCM_crBoJ7RNOUsl_sM-hqnreVgmKZKZPcooBsGXVZEvRlv1E9GPeHxjH1De2dAE7081gDln2E4Uj9X7G97Esa7-l2E4WWViPMb7JHASFXIOGhDSCLhJJgghWfPzoStf_xuZXyOBId4u40TCAwc1EUrfOz6ymsU4UbnXChL4NF452reUPSvQpBzvS3KVqr41fKSWY9YTUeXSCR4ipyDcOkmR9_BBTIbXS3J1z-DBTOhL-_mvS1V35CRgchkUSrYERw=w242-h241-no?authuser=1"}/

%h3 For Your Daily Beauty Needs
= button_to "Register or Login with GitHub", '/auth/github', {class: "btn btn-primary"}
//=link_to "Register or Login with GitHub", class: "btn btn-primary", '/auth/github'