%h3 Reservations
= link_to 'Back', url_for(:back)

%h4 Your Reservations:

%table{:style => "border:1px solid black; width:100%;"}
  %tr
    %th{:style => "border:2px solid black; height: 70px; text-align:center;"} Name
    %th{:style => "border:2px solid black; text-align:center;"} Category
    %th{:style => "border:2px solid black; text-align:center;"} Location
    %th{:style => "border:2px solid black; text-align:center;"} Rating
    %th{:style => "border:2px solid black; text-align:center;"} Price
    
  
  %tr
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 
    %td{:style => "border:2px solid black; text-align:center;"} Table cell

    