%h1 Modern Beauty - Services

%table{:style => "border:1px solid black; width:100%;"}
  %tr
    %th{:style => "border:2px solid black; height: 70px; text-align:center;"} Name
    %th{:style => "border:2px solid black; text-align:center;"} Category
    %th{:style => "border:2px solid black; text-align:center;"} Location
    %th{:style => "border:2px solid black; text-align:center;"} Rating
    %th{:style => "border:2px solid black; text-align:center;"} Price
    %th{:style => "border:2px solid black; text-align:center;"} Reservation
    
  
  %tr
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 
    %td{:style => "text-align:center;" , :type => "button", :class=> "btn btn-outline-dark"} Make Reservation
  %tr
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 1
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 2
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 1
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 2
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 2
    %td{:style => "text-align:center;" , :type => "button", :class=> "btn btn-outline-dark"} Make Reservation
  %tr
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 1
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 2
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 1
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 2
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 2
    %td{:style => "text-align:center;" , :type => "button", :class=> "btn btn-outline-dark"} Make Reservation
  %tr
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 1
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 2
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 1
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 2
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 2
    %td{:style => "text-align:center;" , :type => "button", :class=> "btn btn-outline-dark"} Make Reservation
  %tr
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 1
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 2
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 1
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 2
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 2
    %td{:style => "text-align:center;" , :type => "button", :class=> "btn btn-outline-dark"} Make Reservation
  %tr
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 1
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 2
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 1
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 2
    %td{:style => "border:2px solid black; text-align:center;"} Table cell 2
    %td{:style => "text-align:center;" , :type => "button", :class=> "btn btn-outline-dark"} Make Reservation
    